# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log

# IDE/editor files
.idea/
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
